/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.container {
    width: 80%;
}

.input-field {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    width: 100%;
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.30);
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.30);
}

.buttonArea {
    display: inline-flex;
}

.search {
	display: table;
	margin: 0 auto;
}

.search ul {
	min-width: 696px;
	list-style: none;
}

.search ul li {
    display: inline;
    margin-left: 20px;
    color: blue;
}

.search ul li:hover {
    background-color: #a39f9f;
    cursor: pointer;
  }

.btn,
.btn-results {
    height: inherit;
    align-content: center;
}

.event-card {
    background-color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 15px;
    opacity: 80%;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.30);
}

.map {
    width: 100%;
    height: 23vw;
    background-color: grey;
    display: inline-block;
}

.event-title {
    font-weight: bold;
    text-align: center;
}

.date-info {
    font-size: 1.5vw;
    font-weight: bold;
}

.venue-info {
    margin: 1vw;
    font-size: 1.5vw;
}

.tickets {
    font-size: 1.5vw;
    margin: 1vw;
}

.tickets:hover {
    text-decoration: underline;
}

.fa-search {
    margin-top: 5px;
}

.search {
    display: inline; 
}